data imbalance

Imbalance data are common problem in machine learning classification where there are a disproportionate ratio of observation in each class. can be found in many different areas like medical diagonisis,spam filtering, and fraud detection  

why data imbalance?
because most of machine learning algorithms work best when the number of samples in each class are about equal.This is because most algorithms are designed to accuracy and reduce error 

method of data imbalance
1.change the performance metric-accuracy is not the best metric to use when evaluating imbalanced dataset as it can very misleading.the metrics can be provide better insight icludes
confusion matrix, precision,recall,F1:score

2.change the algorithm-while in every machine learning problem,it's good rule of thumb to try
 a varietyof algorithms, it can be especially beneficial with imbalance dataset
 
3.Resampling techniques
a). undersample majority class
 undersample can be defined as removing some observation of the majority class 
 undersample can be a good choice when you have a ton of data-think millions of rows
 
b).resampling techniques-oversample minority class
   oversampling can be defined as adding more copies of the minority class 
   oversampling can be good when you don't have a ton of data to work with
   
4.generate synthetic samples
  a techniques similar to upsampling is to create synthetic samples

In [1]:
#example of method to use is resamping techiniques
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
#loading the data
data=pd.read_csv('data/train_data_week_1_challenge.csv')
data.head()

,continue_drop,student_id,gender,caste,mathematics_marks,english_marks,science_marks,science_teacher,languages_teacher,guardian,internet,school_id,total_students,total_toilets,establishment_year
0,continue,s01746,M,BC,0.666,0.468,0.666,7,6,other,True,305,354,86.0,1986.0
1,continue,s16986,M,BC,0.172,0.420,0.172,8,10,mother,False,331,516,15.0,1996.0
2,continue,s00147,F,BC,0.212,0.601,0.212,1,4,mother,False,311,209,14.0,1976.0
3,continue,s08104,F,ST,0.434,0.611,0.434,2,5,father,True,364,147,28.0,1911.0
4,continue,s11132,F,SC,0.283,0.478,0.283,1,10,mother,True,394,122,15.0,1889.0